.sidebar-dark .nav-sidebar > .nav-item-open > .nav-link:not(.disabled), .sidebar-dark .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light .card[class*="bg-"]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar > .nav-item-open > .nav-link:not(.disabled), .sidebar-light .card[class*="bg-"]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #42A5F5;
    /*background-color: #e91e63;*/
}
form div.required label.control-label::after{
    content: " * ";
    color: #FF5A92;
}
/*.form-group .form-check-switch {*/
/*    margin-top: 28px;*/
/*}*/
/*.form-group .form-check-inline {*/
/*    margin-top: 32px;*/
/*}*/

.admin-grid-box .datatable-footer {
    border:none;
}

.admin-grid-box .table thead .asc::after {
    content: '\ee4d';
}
.admin-grid-box .table thead .desc::after {
    content: '\ee4e';
}
.admin-grid-box .table thead th {
    position: relative;
}
.admin-grid-box .table thead .sorting::before, .admin-grid-box .table thead .sorting::after, .admin-grid-box .table thead .asc::after, .admin-grid-box .table thead .desc::after, .admin-grid-box .table thead .asc_disabled::after, .admin-grid-box .table thead .desc_disabled::after {
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 13px;
    margin-top: -6px;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #37474F;
}
.no-margin {
    margin: 0px; !important;
}

.admin-grid-box .editable-column {
    border-bottom: dashed 1px #42A5F5;
    cursor: pointer;
    min-width: 10%;
    display:inline-block;
}

.card-img.img-fluid {
    width: auto;
    max-width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: .125rem;
    margin-top: .125rem;
    padding: .3125rem .875rem;
}
.list-icons .list-icons-item {
    cursor: pointer;
}
.error-summary {

}
.error-summary p {
    font-weight: bold;
    margin-bottom: 0px;
}
.error-summary ul {
    padding-left: 14px;
    margin-bottom: 0px;
}
.error-summary {
    color: #7f231c;
    background-color: #fde1df;
    position: relative;
    padding: 0.9375rem 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #f55246;
    border-left-width: 2.875rem;
    border-radius: 0.1875rem;
}

.error-summary::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 5px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left-color: inherit;
    margin-top: -5px;
}
.error-summary::after {
    content: "îµ¤";
    font-family: "icomoon";
    color: #fff;
    width: 2.875rem;
    left: -2.875rem;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}